.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}

.reviews-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.item-screenshot,
.review-screenshot {
    display: none;
}

.item-screenshot:first-of-type,
.review-screenshot:first-of-type {
    display: block;
    max-width: 100%;
    height: 30%;
    margin-bottom: 20px;
}
